* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-image: linear-gradient( 260deg, #2376ae 0%, #c16ecf 100%) !important;
    align-items: center;
    text-align: center;
}

.navbar a:hover {
    cursor: pointer;
}

.nav-item {
    color: white !important;
    font-size: 1rem;
    list-style: none;
}

.nav-link {
    color: white !important;
    font-size: 1rem;
}

.nav-item1 {
    color: white;
    font-size: 1rem;
    list-style: none;
}

.nav-item:hover {
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.logout-btn:hover {
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.search {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}


/* .search-input {
    height: 40px;
    width: 400px;
    outline: none;
} */

.form-title {
    text-align: center;
    margin-bottom: 2rem;
}

.form-label {
    padding-left: 1.5rem;
    margin-bottom: 5px;
    font-size: 1.5rem;
}

.form-control {
    width: 90%;
    margin: 1rem;
}

.login {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.login-form {
    flex: 1;
    padding: 4rem;
    color: black;
    background-color: white;
}

.register {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.register-form {
    flex: 1;
    padding: 4rem;
    color: black;
    background-color: white;
}

.register-control {
    width: 90%;
    margin: 20px;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 15rem;
    height: 30rem;
    margin: 1.5rem;
    position: relative;
    overflow: hidden;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.card img {
    object-fit: cover;
    height: 60%;
    width: 100%;
    cursor: pointer;
}

.card-body {
    height: 40%;
    padding: 1rem;
}

.card-body h6 {
    text-align: center;
}

.card-over {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(2, 2, 2, 0.678);
    transform: translateY(100%);
    color: white;
    overflow: auto;
    max-height: 100%;
    transition: transform 0.5s ease-in-out;
    align-items: center;
    padding: 1rem;
}

svg {
    cursor: pointer;
}

.img {
    display: block;
    width: 100%;
    height: auto;
}


/* .card:hover {
    filter: grayscale(80%);
}

.card:hover .card-over {
    transform: translateY(0%);
} */